$Lato-Regular : 'Lato-Regular', sans-serif;
$Lato-Light : 'Lato-Light', sans-serif;
$Lato-Italic : 'Lato-Italic', sans-serif;
$MuseoSans-SemiBold : 'MuseoSans-SemiBold', sans-serif;
$Inter-Regular : 'Inter-Regular', Helvetica, Arial, sans-serif;
$Inter-Medium : 'Inter-Medium', Helvetica, Arial, sans-serif;
$Inter-SemiBold : 'Inter-SemiBold', Helvetica, Arial, sans-serif;
// UI

$main-color: #238AC4;
$light-blue: rgba(35, 138, 196, 0.2);
$icons-color: rgba(35, 138, 196, 0.6);
$gray-color: rgba(0,0,0,0.4);
