.customSelect-container{
  position: relative;
  select.debugMode{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
  }
  .customSelect-object{
    position: relative;
    width:100%;
    &.opened{
      .customSelect-values__list{
        display: flex;
        max-height: 200px;
        height: 200px;
      }
      .customSelect-icon.arrow-icon{
        transform: rotate(-90deg);
      }
    }
    .customSelect__current-value {
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      width: 100%;
      padding: 5px 40px 5px 20px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      display: block;
    }
    .customSelect-values__list{
      position: absolute;
      top:90%;
      left:0;
      right:0;
      flex-wrap:wrap;
      background-color: #fff;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.05);
      z-index: 112;
      max-height: 0;
      height:0;
      overflow-y: scroll;
      transition: height .2s ease-in-out;
      .customSelect-value{
        padding: 10px 20px;
        margin: 0;
        box-sizing: border-box;
        width:100%;
        display: block;
        height: max-content;
        &:hover{
          cursor:pointer;
          background-color: rgba(0, 0, 0, 0.01);
          color:#1685D0;
        }
        &.active{
          background-color: #1685D0;
          color:#ffffff;
          &:hover{
            cursor:pointer;
            color:#ffffff;
          }
        }
        &.disabled{
          background-color: #ccc;
          color:#fff;
        }
        &.customSelect-autocomplete__item{
          display: none;
          &.available{
            display: block;
          }
        }
      }
      &::-webkit-scrollbar-track{
        background-color: inherit;
      }
      &::-webkit-scrollbar{
        width: 8px;
        background-color: #ffffff;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #1685D0;
      }
      .customSelect-noresults{
        padding: 10px 20px;
        margin: 0;
        box-sizing: border-box;
        width:100%;
        display: block;
        height: max-content;
        color: #ccc;
      }
    }
    &.disabled{
      .customSelect__current-value{
        background-color: rgb(235, 235, 228);
        color: rgb(84, 84, 84);
        cursor: default;
      }
    }

    .customSelect-icon{
      display:block;
      height:10px;
      width:10px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      background-color: #000;
      transition: all .2s ease-in-out;
      &:hover{
        cursor:pointer;
      }
      &.clear-icon{
        right: 32px;
        -webkit-mask-image:url('data:image/svg+xml,%3C%21-- Generated by IcoMoon.io --%3E%0A%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27%3E%0A%3Ctitle%3Ecross%3C/title%3E%0A%3Cpath d=%27M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z%27%3E%3C/path%3E%0A%3C/svg%3E%0A');
      }
      &.arrow-icon{
        right: 12px;
        transform: rotate(90deg);
         -webkit-mask-image:url('data:image/svg+xml,%3C%21-- Generated by IcoMoon.io --%3E%0A%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27%3E%0A%3Ctitle%3Earrow%3C/title%3E%0A%3Cpath d=%27M6 4l20 12-20 12z%27%3E%3C/path%3E%0A%3C/svg%3E%0A');
      }

    }
  }
}

