.trumbowyg-button-pane .trumbowyg-button-group::after{
  height: 25px !important;
}.trumbowyg-button-pane{
  min-height: 25px !important;
}
.trumbowyg-button-pane::after{
  top: 25px !important;
}

.trumbowyg-button-pane button{
  width: 23px !important;
  height: 23px !important;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown::after{
  top: 19px !important;
  right: 8px !important;
}

.trumbowyg-box, .trumbowyg-editor, .trumbowyg-textarea{
  min-height: 124px !important;
}