.grid-row{
  grid-template-columns: repeat(12,1fr);
  display: grid;
  column-gap: 10px;
  .col__5{
    grid-column: span 5;
  }
  .col__3{
    grid-column: span 3;
  }
  .col__4{
    grid-column: span 4;
  }
  .col__7{
    grid-column: span 7;
  }
  .user-dob{
    margin-left: 20px;
  }
}

.photo-loader{
  display: flex;
  margin-bottom: 17px;
  input{
    display: none;
  }
  img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 22px;
  }
}

.user-misc .trumbowyg-box, .user-misc .trumbowyg-editor{
  min-height: 124px;
}

.vdatetime{
  width: 100%;
}